<div class="home-page-outer-wrapper">
	<div class="cover">
		<nav> 
			<div *ngIf="user">
				<a >{{user.username}}</a>
				<a (click)= logout()><button md-raised-button color="primary">Log out</button></a>
			</div>
			<div *ngIf="!user">
				<a [routerLink]="['/login']">Log in</a>
				<a [routerLink]="['/signup']">Sign up</button></a>
			</div>
		</nav>
		
		
		<h1>Quiz App</h1>
		<input type="text" class="search-box" placeholder="Search ..." name="search" [(ngModel)]="search">
	</div>
	

	<div class="home-page-content">
		<nav class="tabs">
			<div class="tab" [class.active]="activeTab === 0" (click)="switchTab(0, null)">
				<a>All</a>
			</div>
			<div class="tab" *ngFor="let tab of tabs; let i = index" [class.active]="i + 1 === activeTab" (click)="switchTab(i + 1, tab)">
				<a>{{tab}}</a>
			</div>
		</nav>

		<div class="quiz-list">
			<div class="quiz" *ngFor="let quiz of quizPackets | topicPipe: topic | searchPipe: search; let i = index" [style.animation-delay.s]="i * 0.2 + 1">
				<div class="line">
					<h3 class="title">{{quiz.title}}</h3>
				</div>

				<div class="line margin-bottom">
					<b>Time: </b> &nbsp; {{quiz.duration}}
				</div>

				<div class="line align-right">
					<button md-raised-button color="primary" (click)="start(quiz)">Start</button>
				</div>
			</div>
		</div>
	</div>
</div>