<div class="quiz-info-outer-wrapper">
  <div class= "nav-bar">
    <h1>Quiz App</h1>
    <nav>
      <div *ngIf="user">
        <a >{{user.username}}</a>
        <a (click)= logout()><button md-raised-button color="primary">Log out</button></a>
      </div>
      <div *ngIf="!user">
        <a [routerLink]="['/login']">Log in</a>
        <a [routerLink]="['/signup']">Sign up</button></a>
      </div>
    </nav>
  </div>
  
  <div class="card">
    <div class="line">
      <h3 class="title">{{quiz?.title}}</h3>
    </div>

    <div class="line">
      <b>Ngày tạo:</b> &nbsp; {{quiz?.time | date: "dd/MM/yyyy"}}
    </div>

    <div class="line" *ngIf="quiz?.author">
      <b>Tác giả:</b> &nbsp; {{quiz?.author}}
    </div>

	<div class="line">
      <b>Chủ đề:</b> &nbsp; {{quiz?.topic}}
	</div>

    <div class="line margin-bottom">
      <b>Thời gian:</b> &nbsp; {{quiz?.duration}} phút
    </div>


    <div class="line">
      <button md-raised-button color="primary" (click)="start()">Start</button>
    </div>
  </div>

  <div class="item-list">
    <div class="item" *ngFor="let result of results | async">
      <div class="line">
        <h3 class="title">{{getUsername(result.userId) }}</h3>
      </div>

      <div class="line">
        Points: {{result.points}} / {{result.numberOfQuestions}}
      </div>
    </div>
  </div>
</div>
