*::-webkit-scrollbar-track
  background alpha(#000, 0.1)

*::-webkit-scrollbar-thumb
  background #aaa

.quiz-info-outer-wrapper
  width 100%
  height 100%

  padding 0
  margin 0

  padding-top 60px

  overflow-y auto
  
  .nav-bar
    position fixed
    top 0
    left 0
    right 0

    display flex
    flex-flow column nowrap
    justify-content center
    align-items center

    background linear-gradient(45deg, dodgerblue, purple)
    background-attachment fixed

    height 60px
    width 100%

    box-shadow 0 2px 4px #eee
    
    nav
      display flex
      align-items center
      justify-content flex-end

      padding 0 20px

      position absolute
      top 0
      left 0
      right 0

      height 60px

      a
        margin 0 20px

        color white
        font-family "Lato Medium"
        font-size 14px

    h1
      font-family Lato Medium
      font-size 30px
      color white
      

  .card
    padding 20px
    margin 30px auto

    max-width 800px

    box-shadow 0 3px 5px alpha(#000, 0.2)

    border-radius 3px

    h1
      font-family "Lato Bold"

    .line
      display flex
      font-family Lato

    .title
      font-family Lato

    .margin-bottom
      margin-bottom 15px

  .item-list
    margin 30px auto

    max-width 800px

    box-shadow 0 3px 5px alpha(#000, 0.2)

    border-radius 3px

    .item
      padding 20px
      margin 0

      border-radius 3px
      border-bottom 1px solid alpha(#000, 0.08)

    h1
      font-family "Lato Bold"

    .line
      display flex
      font-family Lato

    .title
      font-family Lato

    .margin-bottom
      margin-bottom 15px
