/*
*::-webkit-scrollbar-track
  background alpha(#000, 0.1)


*::-webkit-scrollbar-thumb
  background #aaa
*/

.user-outer-wrapper
  display flex

  width 100%
  height 100%
  background #eee

  font-family Lato

  nav 
    display flex
    align-items center
    justify-content flex-end

    padding 0 20px

    position absolute
    top 0
    left 0
    right 0

    height 60px

  .members
    flex 0 0 auto
    padding 20px

    width 80%
    overflow-y auto

    border-right 1px solid #ddd

    .member
      padding 20px
      margin 30px auto

      background white
      border-radius 3px

  