
<div class="admin-outer-wrapper">
    <div class= "nav-bar">
        <h1>User Center</h1>
        <nav [hidden]="!user">
            <span>{{user.username}}</span>
            <button md-raised-button color="warn" (click)="logout()">Logout</button>
            <a ><button md-raised-button color="warn" (click)="gotoReport()">Report Center</button></a>
        </nav>
       
  </div>
    
    <div class="members">
        <h2>Users:</h2>
        <div class="member" *ngFor="let user of users | async">
            <div class="line">
                <h4>Id: {{user._id}}</h4>
            </div>

            <div class="line">
                name: {{user.username}}
            </div>

            <div class="line">
                <!-- Ví dụ chúng ta có nút thêm editor ở đây -->

                <!-- Giờ chúng ta sẽ implement chức năng thêm editor vào đây -->
                <button md-raised-button color="warn" (click)="addMember(user)">Add Member</button>
                <button md-raised-button color="warn" (click)="removeMember(user)">Remove Member</button>
            </div>
        </div>
    </div>
    <div class="members">
        <h2>Members:</h2>
        <div class="member" *ngFor="let member of members | async">
            <div class="line">
                <h4>Id: {{member._id}}</h4>
            </div>

            <div class="line">
                name: {{member.username}}
            </div>

            <div class="line">
                <!-- Ví dụ chúng ta có nút thêm editor ở đây -->

                <!-- Giờ chúng ta sẽ implement chức năng thêm editor vào đây -->
                <button md-raised-button color="warn" (click)="addEditor(member)">Add Editor</button>
                <button md-raised-button color="warn" (click)="removeMember(member)">Remove Member</button>
            </div>
        </div>
    </div>

    <!-- Giả sử mình tạo thêm danh sách các editors ở dưới này -->

    <div class="editors">
        <h2>Editors:</h2>
        <div class="editor" *ngFor="let editor of editors | async">
            <div class="line">
                <h3>{{editor.username}}</h3>
            </div>


            <!-- Giờ mình implement chức năng remove editor trước -->
            <div class="line">
                <button md-raised-button color="warn" (click)="removeEditor(editor)">Remove</button>

            </div>
        </div>
    </div>
</div>
