<div class="report-outer-wrapper">
  <div class= "nav-bar">
    <h1>Report Center</h1>
    <nav>
      <div *ngIf="user">
        <a >{{user.username}}</a>
        <a (click)= logout()><button md-raised-button color="primary">Log out</button></a>
        <a (click)= gotoCenter()><button md-raised-button color="primary">User center</button></a>
      </div>
      
    </nav>
  </div>
  <div class="members">
        <div class="member" *ngFor="let report of reports | async">
            <div class="line">
                <h4>Id: {{report._id}}</h4>
            </div>

            <div class="line">
                QuizId: {{report.quizId}}
            </div>
            <div class="line">
                Content: {{report.content}}
            </div>
            <div class="line">
                Time:{{report.createdAt | date: "dd/MM/yyyy"}}
            </div>
        </div>
    </div>
 

</div>

