
<div class="signup-main">
    <h1>Sign up</h1>
    <form class="form" #f="ngForm" (ngSubmit)="signup()" [formGroup]= "signupForm">
        <input type="text" class="username" name= "username" formControlName="username" placeholder="Username" >
        <input type="password" class="password" name="password" formControlName="password" placeholder="Password" >
        <div class="form-group">
            <a [routerLink]="['/login']">Already a user?</a>
        </div>
        <input type="submit" value="Sign up">
        <div [hidden]="error == ''">
            <p >{{ error }}</p>
        </div>
    </form>
    
</div>